
/* STYLES FROM FRONTEND MENTOR */
.attribution { 
    font-size: 11px; 
    margin: auto;
}
.attribution a { color: hsl(228, 45%, 44%); }

/* RESETS, GLOBAL AND CUSTOM PROPERTIES */

:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 50%);
    --black: hsl(0, 0%, 7%);   
}

* {
    box-sizing: border-box;
    font-family: Figtree, sans-serif;
}

p {
    color: var(--black)
}

/* MAIN ELEMENTS LAYOUT AND STYLING */

body {
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.card {
    margin: auto;
    background-color: var(--white);
    padding: 24px;
    border-radius: 20px;
    border: 1px solid var(--black);
    box-shadow: 8px 8px;
}

.illustration-article {
    border-radius: 10px;
    object-fit: cover;
}

.text-section {
    height: 173px;
    margin-bottom: 6px;
}

.not-button {
    background-color: var(--yellow);
    width: 73px;
    height: 26px;
    border-radius: 4px;
}

.not-button p {
    padding-top: 6px;
    margin-top: 24px;
}

.avatar {
    width: 32px;
    height: 32px;
}

footer {
    width: 129px;
    display: flex;
    align-items: center;
}

.author {
    margin-left: auto;
}

/* TEXT PROPERTIES */

.not-button p {
    font-size: 0.75em;
    font-weight: 800;
    text-align: center;
}

.pub-date {
    font-size: 0.75em;
}

h1 {
    font-size: 1.25em;
    font-weight: 800;
}

a {
    text-decoration: none;
    color: var(--black);
}

h1:hover {
    color: var(--yellow);
}

h1:focus {
    color: var(--yellow);
}

h1:active {
    color: var(--yellow);
}

.description {
    font-size: 0.875em;
    color: var(--grey);
}

footer {
    font-size: 14px;
    font-weight: 800;
}

/* MOBILE */

@media only screen and (max-width: 450px) {
    .card {
        width: 327px;
        height: 501px;
    }

    .illustration-article {
        width: 279px;
        height: 200px;
    }

    .text-section {
        font-size: 100%;
    }
}

/* DESKTOP */

@media only screen and (min-width: 450px) {
    .card {
        width: 384px;
        height: 522px;
    }
    
    .illustration-article {
        width: 336px;
        height: 200px;
    }

    .text-section {
        font-size: 113%;
    }

    footer {
        margin-top: 35px;
    }
  }
